chui_icon {
    font-family: 'chui_mir';
    font-weight: normal;
    font-style: normal;
    font-size: var(--header_icon_size);
    display: inherit;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: var(--text_color);
    pointer-events: none;
    transition: all var(--transition_time);
}