chui_fieldset {
    height: max-content;
    width: max-content;
    border-radius: var(--border_radius);
    margin: var(--margin);
}

fieldset {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: none;
    border-radius: var(--border_radius);
    padding: 0 6px 6px 6px;
    display: flex;
}

legend {
    color: var(--blue_prime_background);
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    font-weight: 500;
    border: none;
    border-radius: var(--border_radius);
    letter-spacing: -0.031rem;
}