chui_combobox {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: var(--margin);
    width: 200px
}

combobox {
    position: relative;
    display:flex;
    height: max-content;
    width: -webkit-fill-available;
    border-radius: var(--border_radius);
    padding: 0;
    font-size: var(--font_default_size);
    background: var(--element_background);
    border: none;
    box-shadow: 0 0 1px 0 var(--element_background_2);
}

.combobox_input {
    width: 100%;
    margin: 0;
    padding: var(--test_padding) 0 var(--test_padding) 10px;
    background: transparent;
    color: var(--text_color);
    border: none;
    font-size: var(--font_default_size);
}

combobox_dropdown {
    background: var(--element_background);
    position:absolute;
    display:none;
    height: max-content;
    border-radius: var(--border_radius);
    margin-top: 36px;
    padding: var(--test_padding);
    font-size: var(--font_default_size);
    flex-direction: column;
    z-index: 1;
    width: -webkit-fill-available;
    overflow: hidden hidden;
    box-shadow: var(--box_shadow_main);
    border: none;
}

combobox_dropdown:hover {
    overflow: hidden overlay
}

.combobox_label {
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color)
}

combo_button_open {
    cursor: pointer;
    padding: var(--main_padding);
    color: var(--blue_prime_background)
}

combobox_option {
    cursor: pointer;
    text-align: start;
    padding: var(--test_padding);
    border-radius: var(--border_radius);
    color: var(--text_color)
}

combobox_option:hover {
    padding: var(--main_padding);
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

/* DISABLED STYLES */
.combobox_disabled {
    cursor: not-allowed;
    background: var(--element_background_disabled);
    border: none;
    box-shadow: 0 0 1px 0 var(--element_background_disabled_2);
}

.combobox_input_disabled {
    cursor: not-allowed;
    background: transparent;
    color: var(--text_color_disabled);
    text-align: start;
    width: 100%;
    margin: 0;
    padding: var(--test_padding) 0 var(--test_padding) 10px;
    border: none;
    font-size: var(--font_default_size);
}

.combobox_label_disabled {
    cursor: not-allowed;
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color_disabled)
}