h1, h2, h3, h4, h5, h6 {
    height: max-content;
    width: max-content;
    color: var(--text_color);
    margin: var(--margin);
    letter-spacing: -0.033em;
    font-weight: 500;
}

h1, h2 {
    padding: 12px 6px;
}

h3, h4 {
    padding: 10px 6px;
}

h5 {
    padding: 8px 6px;
}

h1 {
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}