chui_ap_main {
    display: flex;
    flex-direction: column;
    border-radius: var(--border_radius);
    --seek-before-width: 0%;
    --volume-before-width: 0%;
    min-width: 450px;
    height: max-content;
}

chui_ap_block {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    backdrop-filter: var(--global_blur);
    border-radius: var(--border_radius);
    background: var(--ap_main_background);
    border: none;
}

/* Блок информация */
chui_ap_info {
    display: flex;
    margin: 8px;
}

chui_ap_track_title {
    color: var(--text_color);
    margin: var(--margin);
}

chui_ap_seek_block {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    margin: 3px;
}

chui_ap_seek_buf {
    width: 0;
    height: 8px;
    border-radius: 8px;
    background: var(--ap_slider_buf_background);
    position: absolute;
}

#chui_ap_seek {
    margin: 0;
    position: relative;
    -webkit-appearance: none;
    border-radius: 8px;
    width: 100%;
    height: 8px;
    cursor: pointer;
    outline: none;
    background: var(--ap_slider_background);
    float: left;
    z-index: 1
}

#chui_ap_seek::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 8px
}

#chui_ap_seek::before {
    transition: all 0s;
    position: absolute;
    content: '';
    left: 0;
    width: var(--seek-before-width);
    height: 8px;
    border-radius: 8px;
    background: var(--blue_prime_background);
    cursor: pointer;
}

#chui_ap_seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--blue_prime_background);
    cursor: pointer;
    margin: -4px 0 0 0
}

#chui_ap_seek:focus {
    outline: none;
    border: none;
}

#chui_ap_seek:focus::-webkit-slider-runnable-track {
    outline: none;
    border: none;
}

/* УПРАВЛЕНИЕ ГРОМКОСТЬЮ */
chui_ap_volume_block {
    display: flex;
    margin-left: auto
}

#chui_ap_volume {
    position: relative;
    -webkit-appearance: none;
    border-radius: 8px;
    width: 100px;
    height: 8px;
    cursor: pointer;
    outline: none;
    background: var(--ap_slider_background);
    float: left;
    z-index: 1;
    margin: auto 6px;
}

#chui_ap_volume:disabled:before {
    background: var(--ap_slider_buf_background)
}

#chui_ap_volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 8px
}

#chui_ap_volume::before {
    transition: all 0s;
    position: absolute;
    content: '';
    left: 0;
    width: var(--volume-before-width);
    height: 8px;
    border-radius: 8px;
    background: var(--blue_prime_background);
    cursor: pointer;
}

#chui_ap_volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--blue_prime_background);
    cursor: pointer;
    margin: -4px 0 0 0
}

#chui_ap_volume:focus {
    outline: none;
    border: none;
}

#chui_ap_volume:focus::-webkit-slider-runnable-track {
    outline: none;
    border: none;
}

/* Блок управления */
chui_ap_controls {
    display: flex;
    justify-content: left;
    margin: 8px 12px 0 12px;
    align-items: center
}

/* КНОПКИ */
chui_ap_play_pause, chui_ap_next, chui_ap_prev {
    display: flex
}

.pin_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: var(--margin);
}

.pin_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: var(--margin);
}

/* Плейлист */
chui_playlist_main {
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    width: -webkit-fill-available;
    backdrop-filter: var(--global_blur);
    border-radius: var(--border_radius);
    background: var(--ap_main_background);
    border: none;
    margin-top: var(--margin);
}
chui_playlist_search {
    display: flex;
    min-height: max-content;
    flex-direction: column;
    width: -webkit-fill-available;
    border-radius: var(--border_radius);
    background: var(--ap_main_background_2);
    border: none;
    margin: 12px;
    height: max-content;
}
.chui_playlist_search_input {
    display: flex;
    width: -webkit-fill-available;
    height: max-content;
    margin: 0;
    border-radius: var(--border_radius);
    color: var(--text_color);
    align-items: center;
    position: relative;
    padding: var(--main_padding);
    background: transparent;
    border: 1px solid var(--element_background_2);
    box-shadow: 0 0 1px 0 var(--element_background_2);
}
.chui_playlist_search_input:focus {
    border: 1px solid var(--blue_prime_background);
    box-shadow: 0 0 2px 1px var(--blue_prime_background);
}

chui_playlist_list {
    overflow: hidden overlay;
    display: flex;
    height: 350px;
    flex-direction: column;
    width: -webkit-fill-available;
    border-radius: var(--border_radius);
    background: var(--ap_main_background_2);
    border: 1px solid var(--element_background_2);
    box-shadow: 0 0 1px 0 var(--element_background_2);
    margin: 0 12px 6px 12px;
}

.chui_track_active {
    color: var(--text_color_hover);
    background: var(--blue_prime_background_trans);
}

chui_track {
    display: flex;
    padding: var(--test_padding);
    color: var(--text_color);
    border-radius: var(--border_radius);
}

chui_track:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

chui_playlist_controls {
    margin: 0 var(--margin) var(--margin) var(--margin);
    display: flex;
    flex-direction: row;
}

chui_ap_equalizer_main {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    margin: 0 8px;
}

chui_ap_equalizer_block {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
}

chui_eq_slider_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50px;
}

slider_label {
    color: var(--text_color);
    font-size: var(--font_labels_size);
}


/* УПРАВЛЕНИЕ ГРОМКОСТЬЮ */
chui_ap_volume_block {
    display: flex;
    margin-left: auto
}

.eq_slider_test {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    background: var(--ap_slider_background);
    margin: 70px 8px;
    -webkit-appearance: none;
    width: auto;
    transform: rotate(-90deg);
}

.eq_slider_test::before {
    transition: all 0s;
    position: absolute;
    content: '';
    height: 100%;
    border-radius: 8px;
    background: var(--blue_prime_background);
    cursor: pointer;
    width: var(--fx-before-width);
    left: 0;
}

.eq_slider_test:disabled:before {
    background: var(--ap_slider_buf_background)
}

.eq_slider_test::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 8px
}



.eq_slider_test::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--blue_prime_background);
    cursor: pointer;
    margin: -4px 0 0 0
}

.eq_slider_test:focus {
    outline: none;
    border: none;
}

.eq_slider_test:focus::-webkit-slider-runnable-track {
    outline: none;
    border: none;
}

chui_ap_fx_icon, chui_ap_volume_icon, chui_ap_next, chui_ap_play_pause, chui_ap_prev {
    border-radius: var(--border_radius);
    padding: 2px;
}

chui_ap_fx_icon:hover, chui_ap_volume_icon:hover, chui_ap_next:hover, chui_ap_play_pause:hover, chui_ap_prev:hover {
    background: var(--blue_prime_background);
}