chui_ap_main {
    display: flex;
    flex-direction: column;
    border-radius: var(--border_radius);
    --seek-before-width: 0%;
    --volume-before-width: 0%;
    width: 450px
}

chui_ap_block {
    display: block;
    width: -webkit-fill-available;
    backdrop-filter: var(--global_blur);
    border-radius: var(--border_radius);
    background: var(--main_background_2);
    border: none;
}

/* Блок информация */
chui_ap_info {
    display: flex;
    margin: 16px 12px;
}

chui_ap_seek_buf {
    width: 0;
    height: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.30);
    position: absolute
}

#chui_ap_seek {
    margin: 0;
    position: relative;
    -webkit-appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    cursor: pointer;
    outline: none;
    background: rgba(255,255,255,0.15);
    float: left;
    z-index: 1
}

#chui_ap_seek::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 5px
}

#chui_ap_seek::before {
    transition: all 0s;
    position: absolute;
    content: '';
    left: 0;
    width: var(--seek-before-width);
    height: 5px;
    border-radius: 5px;
    background: var(--blue_prime_background);
    cursor: pointer;
}

#chui_ap_seek::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    margin: -8px 0 0 0
}

#chui_ap_seek:focus {
    outline: none;
    border: none;
}

#chui_ap_seek:focus::-webkit-slider-runnable-track {
    outline: none;
    border: none;
}

/* УПРАВЛЕНИЕ ГРОМКОСТЬЮ */
chui_ap_volume_block {
    display: flex;
    margin-left: auto
}

#chui_ap_volume {
    position: relative;
    -webkit-appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    cursor: pointer;
    outline: none;
    background: rgba(255,255,255,0.15);
    float: left;
    z-index: 1;
    margin: auto 6px;
}

#chui_ap_volume:disabled:before {
    background: rgba(255,255,255,0.30)
}

#chui_ap_volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 5px
}

#chui_ap_volume::before {
    transition: all 0s;
    position: absolute;
    content: '';
    left: 0;
    width: var(--volume-before-width);
    height: 5px;
    border-radius: 5px;
    background: var(--blue_prime_background);
    cursor: pointer;
}

#chui_ap_volume::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    margin: -8px 0 0 0
}

#chui_ap_volume:focus {
    outline: none;
    border: none;
}

#chui_ap_volume:focus::-webkit-slider-runnable-track {
    outline: none;
    border: none;
}

/* Блок управления */
chui_ap_controls {
    display: flex;
    justify-content: left;
    margin: var(--margin);
    align-items: center
}

/* КНОПКИ */
chui_ap_play_pause, chui_ap_next, chui_ap_prev {
    display: flex
}