chui_details {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: 12pt;
    font-weight:400;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_main);
}

details_button {
    background: var(--button_background);
    cursor: pointer;
    padding: var(--main_padding);
    font-size: 12pt;
    width: -webkit-fill-available;
    text-align: left;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: var(--border_radius);
    color: var(--text_color);
    border: none;
}

details_panel {
    background: var(--background_color_1);
    padding: 0 10px;
    display: block;
    overflow: hidden;
    width: -webkit-fill-available;
    max-height: 0;
    border-bottom-right-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
    color: var(--text_color);
    border: none;
}

details_panel_html {
    padding: 8px 0;
    width: -webkit-fill-available;
    display: flex
}

details_button:hover {
    background: var(--blue_prime_background);
}

details_button:hover details_button_text {
    color: var(--text_color_hover)
}

details_button:hover chui_icon {
    color: var(--text_color_hover)
}

.details_active {
    background: var(--blue_prime_background);
    color: var(--text_color_hover)
}

.details_active chui_icon {
    background: transparent;
    color: var(--text_color_hover)
}