@keyframes context-scale-in {
    from {
        opacity: 0;
        transform: scale(0.92);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes context-scale-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.92);
    }
}

chui_context_menu {
    position: fixed;
    z-index: 5000;
    display: none;
    flex-direction: column;
    align-items: stretch;
    width: max-content;
    min-width: 165px;
    height: max-content;
    padding: var(--test_padding);
    background: var(--header_background_drop);
    color: var(--text_color);
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow_main);
    transform-origin: top left;
    backdrop-filter: blur(10px);
}

context_menu_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: -webkit-fill-available;
    white-space: nowrap;
    cursor: pointer;
    padding: var(--test_padding);
    border-radius: var(--border_radius);
    color: var(--text_color);
}

context_menu_item:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

context_menu_item:hover context_menu_item_icon chui_icon,
context_menu_item:hover context_menu_item_arrow chui_icon {
    color: var(--text_color_hover);
}

context_menu_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    margin-right: 8px;
}

context_menu_item_icon chui_icon {
    font-size: 15px;
}

context_menu_item_title {
    display: block;
    font-size: var(--font_default_size);
    font-weight: 400;
}

context_menu_item_shortcut {
    display: block;
    margin-left: auto;
    padding-left: 24px;
    font-size: var(--font_labels_size);
    opacity: 0.7;
}

context_menu_item_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    margin-left: 8px;
}

context_menu_item_arrow chui_icon {
    font-size: 14px;
}

context_menu_submenu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    display: none;
    flex-direction: column;
    align-items: stretch;
    width: max-content;
    min-width: 165px;
    height: max-content;
    padding: var(--test_padding);
    background: var(--header_background_drop);
    color: var(--text_color);
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow_main);
    transition: none;
}

context_menu_separator {
    height: 1px;
    margin: 4px 2px;
    background: var(--element_background_2);
}

context_menu_item_disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
