chui_context_menu {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    height: max-content;
    width: max-content;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
    padding: 5px;
    background: var(--main_background_4);
    color: var(--text_color);
    animation-duration: .22s;
    animation-fill-mode: forwards
}

chui_menu_item {
    height: max-content;
    width: max-content;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    background: transparent;
    color: var(--text_color)
}

chui_menu_item:hover {
    background: var(--blue_prime_background);
}

chui_menu_item:hover ctx_button {
    color: var(--text_color_hover)
}