chui_area_input {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: max-content;
    margin: var(--margin);
}

.resize_off {
    resize: none
}

.resize_on {
    resize: auto
}

.area_input {
    height: inherit;
    width: -webkit-fill-available;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    color: var(--text_color);
    background: var(--element_background);
    border: 1px solid var(--element_background);
    box-shadow: 0 0 1px 0 var(--element_background_2);
}

.textarea_label {
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color)
}

/* DISABLED STYLES */
.area_input_disabled {
    cursor: not-allowed;
    height: inherit;
    width: -webkit-fill-available;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    background: var(--element_background_disabled);
    color: var(--text_color_disabled);
    border: 1px solid var(--main_background_6);
}

.textarea_label_disabled {
    cursor: not-allowed;
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color_disabled)
}