@media (prefers-color-scheme: light) {
    :root {
        /* Текст */
        --text_color: rgb(45, 45, 45);
        --text_color_disabled: rgba(45, 45, 45, 0.5);
        --text_color_hover: rgb(255, 255, 255);
        --text_color_hover_disable: rgba(255, 255, 255, 0.5);
        /* Основные цвета */
        --main_background: rgb(255, 255, 255);
        --header_background: rgba(226, 226, 226, 0.5);
        --header_background_drop: rgb(246, 246, 246, 1);
        /* Обводка */
        --border_color: rgb(240, 240, 240);
        /* Элементы */
        /* Кнопка */
        --button_border_color: rgb(240, 240, 240);
        --button_border_color_hover: rgb(0, 122, 245);
        --button_background: rgb(240, 240, 240);
        --button_background_hover: rgb(0, 122, 245);
        --button_background_disabled: rgba(240, 240, 240, 0.5);
        /* Модальное окно */
        --modal_background: rgb(255, 255, 255);
        /* Элементы */
        --element_background: rgb(240, 240, 240);
        --element_background_disabled: rgba(240, 240, 240, 0.5);
        --element_background_2: rgb(226, 226, 226);
        --element_background_disabled_2: rgba(226, 226, 226, 0.5);
        --element_background_prime: rgb(0, 102, 225);
        --element_background_disabled_prime: rgba(0, 102, 225, 0.5);
        /* Акцент */
        --blue_prime_background: rgb(0, 122, 245);
        --blue_prime_background_trans: rgba(0, 122, 245, 0.65);
        --red_prime_background: rgb(246, 52, 40);
        /* Бэйджи */
        --badge_error_back: rgba(255, 59, 48, 0.5);
        --badge_error_text: rgb(194, 6, 24);
        --badge_success_back: rgba(52, 199, 89, 0.5);
        --badge_success_text: rgb(0, 112, 24);
        --badge_cancel_back: rgba(142, 142, 147, 0.5);
        --badge_cancel_text: rgb(97, 97, 101);
        --badge_warning_back: rgba(255, 204, 0, 0.5);
        --badge_warning_text: rgb(146, 81, 0);
        /* Аудиоплеер */
        --ap_input_background: rgba(255, 255, 255, 0.25);
        --ap_main_background: rgba(226, 226, 226, 0.5);
        --ap_main_background_2: rgba(220, 220, 220, 0.75);
        --ap_slider_background: rgba(220, 220, 220, 0.75);
        --ap_slider_buf_background: rgba(0, 122, 245, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Текст */
        --text_color: rgb(255, 255, 255);
        --text_color_disabled: rgba(255, 255, 255, 0.5);
        --text_color_hover: rgb(255, 255, 255);
        --text_color_hover_disable: rgba(255, 255, 255, 0.5);
        /* Основные цвета */
        --main_background: rgb(27, 27, 27);
        --header_background: rgba(40, 40, 40, 0.5);
        --header_background_drop: rgba(48, 48, 48, 1);
        /* Обводка */
        --border_color: rgb(54, 54, 54);
        /* Элементы */
        /* Кнопка */
        --button_border_color: rgb(54, 54, 54);
        --button_border_color_hover: rgb(64, 156, 255);
        --button_background: rgb(54, 54, 54);
        --button_background_hover: rgb(64, 156, 255);
        --button_background_disabled: rgba(54, 54, 54, 0.5);
        /* Модальное окно */
        --modal_background: rgb(27, 27, 27);
        /* Элементы */
        --element_background: rgb(54, 54, 54);
        --element_background_disabled: rgba(54, 54, 54, 0.5);
        --element_background_2: rgb(68, 68, 68);
        --element_background_disabled_2: rgba(68, 68, 68, 0.5);
        --element_background_prime: rgb(34, 126, 225);
        --element_background_disabled_prime: rgba(34, 126, 225, 0.5);
        /* Акцент */
        --blue_prime_background: rgb(64, 156, 255);
        --blue_prime_background_trans: rgba(64, 156, 255, 0.65);
        --red_prime_background: rgb(255, 105, 97);
        /* Бэйджи */
        --badge_error_back: rgba(255, 69, 58, 0.5);
        --badge_error_text: rgb(255, 105, 94);
        --badge_success_back: rgba(48, 209, 88, 0.5);
        --badge_success_text: rgb(49, 222, 75);
        --badge_cancel_back: rgba(142, 142, 147, 0.5);
        --badge_cancel_text: rgb(182, 182, 187);
        --badge_warning_back: rgba(255, 214, 10, 0.5);
        --badge_warning_text: rgb(255, 212, 38);
        /* Аудиоплеер */
        --ap_input_background: rgba(30, 30, 30, 0.25);
        --ap_main_background: rgba(40, 40, 40, 0.5);
        --ap_main_background_2: rgba(73, 73, 73, 0.75);
        --ap_slider_background: rgba(73, 73, 73, 0.75);
        --ap_slider_buf_background: rgba(64, 156, 255, 0.5);
    }
}