chui_button {
    cursor: pointer;
    height: max-content;
    width: max-content;
    border-radius: var(--border_radius);
    margin: var(--margin);
}

button {
    cursor: pointer;
    height: max-content;
    width: max-content;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    font-weight: 400;
    background: var(--element_background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

button:hover {
    background: var(--blue_prime_background);
}

button_text {
    color: var(--text_color);
}

button:hover button_text {
    color: var(--text_color_hover);
}

button button_icon chui_icon {
    color: var(--text_color);
}

button:hover button_icon chui_icon {
    color: var(--text_color_hover);
}
/* DISABLED STYLES */
button:disabled {
    cursor: not-allowed;
    background: var(--element_background_disabled);
    color: var(--text_color_disabled);
}

button:disabled:hover {
    background: var(--element_background_disabled);
    color: var(--text_color_disabled);
}

button:disabled button_text {
    color: var(--text_color_disabled);
}

button:disabled:hover button_text {
    color: var(--text_color_disabled);
}

button:disabled button_icon chui_icon {
    color: var(--text_color_disabled);
}

button:disabled:hover button_icon chui_icon {
    color: var(--text_color_disabled);
}