chui_email_input {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: max-content;
    margin: var(--margin);
}

chui_email_main {
    display: flex;
    width: -webkit-fill-available;
    height: max-content;
    margin: 0;
    border-radius: var(--border_radius);
    color: var(--text_color);
    align-items: center;
    position: relative;
    padding: var(--main_padding);
    background: var(--element_background);
    border: none;
    box-shadow: 0 0 1px 0 var(--element_background_2);
}

.email_input {
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background: transparent;
    color: var(--text_color);
    text-align: start;
    border: 0;
    font-size: var(--font_default_size);
}

email_input .email_input:valid {}

.email_label {
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color)
}

/* DISABLED STYLES */
.email_input_disabled {
    cursor: not-allowed;
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background: transparent;
    color: var(--text_color_disabled);
    text-align: start;
    border: 0;
    font-size: var(--font_default_size);
}

.email_label_disabled {
    cursor: not-allowed;
    height: max-content;
    width: max-content;
    margin: var(--margin);
    font-size: var(--font_labels_size);
    font-weight:500;
    color: var(--text_color_disabled)
}

.chui_email_main_disabled {
    cursor: not-allowed;
    background: var(--element_background_disabled);
    border: 1px solid var(--element_background_disabled_2);
    box-shadow: 0 0 1px 0 var(--element_background_disabled_2);
}