chui_form_main {
    color: var(--text_color);
}

.chui_form_submit_button {
    border: 1px solid var(--element_background_2);
    cursor: pointer;
    height: max-content;
    width: max-content;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    font-weight: 400;
    margin: var(--margin);
    background: var(--element_background);
    color: var(--text_color);
}

.chui_form_submit_button:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}