chui_form_main {
    color: var(--text_color);
}

.chui_form_submit_button {
    border: none;
    cursor: pointer;
    height: max-content;
    width: max-content;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    font-size: 12pt;
    font-weight: 400;
    margin: var(--margin);
    background: var(--button_background);
    color: var(--text_color);
}

.chui_form_submit_button:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
    text-shadow: var(--text_shadow_hover);
}