table {
    border: 1px solid var(--element_background);
    border-radius: var(--border_radius);
    margin: var(--margin);
    display: grid;
    width: inherit;
    height: max-content;
    overflow: auto
}

thead {
    background: var(--element_background);
    font-weight: 500;
    height: max-content;
    width: 100%
}

tbody {
    overflow: visible;
    height: max-content;
    width: 100%
}

tr {
    display: grid;
    height: max-content;
    width: 100%;
    margin: 0;
    grid-row-start: 1;
    grid-row-end: 3
}

td {
    color: var(--text_color);
    white-space: break-spaces;
    word-break: break-all;
    align-items: center;
    padding: var(--main_padding);
}

cell_title, sort_button {
    color: var(--blue_prime_background);
}