chui_dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    left: calc(100% / 2);
    top: calc(100% / 2);
    width: max-content;
    height: max-content;
    overflow: hidden;
    background-color: var(--modal_background);
    border: 1px solid var(--border_color);
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow_main);
    margin: auto;
    flex-direction: column;
    padding: var(--test_padding);
    color: var(--text_color);
    backdrop-filter: var(--global_blur);
}

dialog_header {
    display: flex;
    margin-bottom: var(--test_padding);
}

dialog_body {
    /*padding: 6px 0px;*/
    display: flex;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: auto;
}

dialog_footer {
    display: flex;
    margin-top: var(--test_padding);
}