chui_dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: auto;
    background-color: var(--header_background);
    padding: 0;
    border: none;
    backdrop-filter: var(--global_blur);
}

dialog_content {
    margin: auto;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: var(--test_padding);
    border-radius: var(--border_radius);
    color: var(--text_color);
    background: var(--main_background);
    box-shadow: var(--box_shadow_main);
}

dialog_header {
    display: flex;
    margin-bottom: var(--test_padding);
}

dialog_body {
    /*padding: 6px 0px;*/
    display: flex;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: auto;
}

dialog_footer {
    display: flex;
    margin-top: var(--test_padding);
}