list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: -webkit-fill-available
}

tab {
    margin: var(--margin) 0;
    padding: 0 6px;
    font-size: var(--font_default_size);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--text_color)
}

tab:hover {
    color: var(--blue_prime_background);
}

tabs {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.tab_active {
    width: 50%;
    height: 4px;
    margin: var(--margin) auto;
    background: transparent;
    border-radius: 50px
}

content {
    display: flex;
    flex-direction:column;
    width: -webkit-fill-available
}