list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: var(--border_radius);
    background: transparent;
    margin: var(--margin) 0;
    border: none;
}

tab {
    margin: 1px;
    padding: var(--main_padding);
    font-size: var(--font_default_size);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--text_color);
    border-radius: var(--border_radius);
}

tab:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

tabs {
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

content {
    display: flex;
    flex-direction:column;
    width: -webkit-fill-available;
    padding: var(--test_padding);
    border-radius: var(--border_radius);
    background: transparent;
    border: none;
}

.tab_active {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}