:root {
    --global_blur: blur(10px);
    --main_padding: 6px 10px;
    --test_padding: 6px;
    --font_default_size: 1rem;
    --font_labels_size: 0.833rem;
    --border_radius: 0.6rem;
    --margin: 6px;
}

html {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 600;
}

* {
    letter-spacing: -.011em;
    font-family: chui_Inter, system-ui;
    user-select: none;
    outline: none;
    transition: all .22s;
    animation-duration: .22s;
    position: relative;
    text-rendering: optimizeSpeed;
}

*:before {
    letter-spacing: -.011em;
    font-family: chui_Inter, system-ui;
    user-select: none;
    outline: none;
    transition: all .22s;
    animation-duration: .22s;
    position: relative;
    text-rendering: optimizeSpeed;
}

body {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background: transparent
}

::-webkit-scrollbar {
    width: 6px;
}

main_center_block::-webkit-scrollbar-track {
    margin-top: 44px;
    margin-bottom: 0.4rem;
}

.test_scroll_track::-webkit-scrollbar-track {
    margin-top: 92px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--border_radius);
    background: var(--main_background_3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue_prime_background)
}

applayout {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column
}

#app {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: var(--main_background);
    border-radius: var(--border_radius);
    border: 1px solid var(--main_background_3);
}

header {
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 999;
    flex-direction: column;
    border-top-left-radius: var(--border_radius);
    border-top-right-radius: var(--border_radius);
    align-items: start;
    background: transparent;
    backdrop-filter: var(--global_blur);
    justify-content: space-between;
    /*-webkit-app-region: no-drag;*/
}

header_main {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

main_center_block {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-top: 44px;
    overflow: hidden hidden
}

main_center_block:hover {
    overflow: hidden overlay;
}

notification_panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: var(--margin);
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 1001;
    overflow: hidden hidden;
    max-height: calc(100% - 65px - (var(--margin) * 2));
    transition: max-height .22s ease-in-out;
}

notification_panel:hover {
    overflow: hidden overlay;
}

app_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    height: -webkit-fill-available;
    z-index: 1000;
    margin: 58px 12px 12px 12px;
    border-radius: var(--border_radius);
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 20%);
    border: none;
    background: var(--main_background_2);
    backdrop-filter: var(--global_blur);
    width: -webkit-fill-available
}

notification_box {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    height: -webkit-fill-available;
    z-index: 1000;
    margin: 58px 12px 12px 12px;
    border-radius: var(--border_radius);
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 20%);
    background: var(--main_background_2);
    backdrop-filter: var(--global_blur);
    width: -webkit-fill-available;
    border: none;
}

notification_box_controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: -webkit-fill-available;
    background: transparent;
}

notification_box_main {
    display: flex;
    flex-direction: column;
    overflow: hidden hidden;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: var(--test_padding);
}

notification_box_main:hover {
    overflow: hidden overlay;
}

notification_button {
    cursor: pointer;
    outline: none;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--test_padding);
    margin: var(--margin);
    font-size: 22pt;
    background: transparent;
    color: var(--text_color);
    -webkit-app-region: no-drag;
}

notification_button:hover {
    background: var(--blue_prime_background);
}

.notification_button_active {
    background: var(--blue_prime_background);
}

.notification_button_active chui_icon {
    color: var(--text_color_hover);
}

notification_button:hover chui_icon {
    color: var(--text_color_hover);
}

app_menu_button {
    cursor: pointer;
    outline: none;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--test_padding);
    margin: var(--margin);
    font-size: 22pt;
    background: transparent;
    color: var(--text_color);
    -webkit-app-region: no-drag;
}

app_menu_button:hover {
    background: var(--blue_prime_background);
}

.app_menu_button_active {
    background: var(--blue_prime_background);
}

.app_menu_button_active chui_icon {
    color: var(--text_color_hover);
}

app_menu_button:hover chui_icon {
    color: var(--text_color_hover);
}

route_views {
    display: flex;
    flex-direction: column;
    padding: var(--test_padding);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: hidden hidden;
}

route_views:hover {
    overflow: hidden overlay;
}

page_name {
    outline: none;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--test_padding);
    margin: var(--margin) var(--margin) var(--margin) 0;
    font-size: var(--font_default_size);
    font-weight: 500;
    background: transparent;
    color: var(--text_color)
}

route {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    height: max-content;
    width: -webkit-fill-available;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--test_padding);
    margin: var(--margin);
    font-size: var(--font_default_size);
    font-weight: 500;
    background: transparent;
}

route:hover {
    padding: var(--main_padding);
    background: var(--blue_prime_background);
}

route:hover route_title {
    color: var(--text_color_hover);
}

route_title {
    width: -webkit-fill-available;
    color: var(--text_color);
}

.route_active {
    padding: var(--main_padding);
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

.route_active route_title {
    color: var(--text_color_hover);
}

blockquote {
    background: var(--element_background);
    border-left: 10px solid var(--blue_prime_background);
    margin: 1.5em 10px;
    padding: 9px 14px;
    color: var(--text_color);
    border-radius: var(--border_radius);
    display: flex;
}

header_left_box {
    display: flex;
    width: -webkit-fill-available;
    align-items: center
}

header_right_box {
    display: flex;
}

/* chUiJS_UserProfile */
user_main {
    position: relative;
    display: flex;
}

user_button:hover {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

.user_button {
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

user_button {
    cursor: pointer;
    outline: none;
    height: max-content;
    width: max-content;
    color: var(--text_color);
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    margin: var(--margin) 0 var(--margin) var(--margin);
    font-weight: 500
}

user_dropdown {
    margin-top: 43px;
    display: none;
    position: absolute;
    background: var(--main_background_3);
    color: var(--text_color);
    border-radius: var(--border_radius);
    padding: var(--test_padding);
    z-index: 1;
    right: 0;
    min-width: 165px;
    flex-direction: column;
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 20%);
    border: none;
}

user_dropdown user_item {
    color: var(--text_color);
    display: block;
    font-weight: 400;
    cursor: pointer;
    text-align: start;
    padding: var(--test_padding);
    border-radius: var(--border_radius)
}

user_dropdown user_item:hover {
    background-color: #ddd;
    padding: var(--main_padding);
    background: var(--blue_prime_background);
    color: var(--text_color_hover);
}

user_dd_image_main {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 6px
}

user_dd_image {
    width: 80px;
    height: 80px;
    display: flex;
    padding: var(--test_padding);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
}

/* chUiJS_HeaderButton */
header_button {
    cursor: pointer;
    outline: none;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    margin: var(--margin) 0 var(--margin) var(--margin);
    font-size: var(--font_default_size);
    background: transparent;
    font-weight: 500;
    display: flex;
    flex-direction: row
}

header_button header_button_title {
    color: var(--text_color);
}

header_button:hover {
    background: var(--blue_prime_background);
}

header_button:hover header_button_title {
    color: var(--text_color_hover);
}

header_button:hover chui_icon {
    color: var(--text_color_hover);
}

/* chUiJS_HeaderButton */
header_button {
    cursor: pointer;
    outline: none;
    height: max-content;
    width: max-content;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--main_padding);
    margin: var(--margin) 0 var(--margin) var(--margin);
    font-size: var(--font_default_size);
    background: transparent;
    color: var(--text_color);
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

header_button:hover {
    background: var(--blue_prime_background);
}

header_button:hover header_button_title {
    color: var(--text_color_hover);
}

header_button:hover chui_icon {
    color: var(--text_color_hover);
}

/*Управление окном*/
wc_box {
    -webkit-app-region: no-drag;
    color: var(--text_color);
    margin: 0 3px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

wc_close, wc_maximize, wc_minimize {
    margin: 6px 3px;
    padding: 6px;
    border-radius: 100%;
    background-color: var(--element_background);
}

wc_close:hover {
    background-color: var(--red_prime_background);
}

wc_maximize:hover, wc_minimize:hover {
    background-color: var(--blue_prime_background);
}

wc_close:hover chui_icon, wc_maximize:hover chui_icon, wc_minimize:hover chui_icon {
    color: white;
}