@media (prefers-color-scheme: light) {
    :root {
        /* Основные цвета */
        --main_background: rgb(240, 240, 240);
        --main_background_2: rgba(220, 220, 220, 0.66);
        --main_background_3: rgba(220, 220, 220, 1);
        --main_background_4: rgba(220, 220, 220, 0.66);
        --border_main: transparent;
        /**/
        --blue_prime_background: rgb(63, 138, 224);
        --red_prime_background: rgb(218, 52, 80);
        /* Текст */
        --text_color: rgb(0, 0, 0);
        --text_color_disabled: rgba(0, 0, 0, 0.5);
        --text_color_hover: rgb(255, 255, 255);
        /* Кнопки */
        --button_background: rgb(221, 223, 225);
        --button_background_disabled: rgba(221, 223, 225, 0.5);
        /* Поля ввода */
        --input_background: rgb(221, 223, 225);
        --dropdown_background: rgb(221, 223, 225);
        /* Модальные окна */
        --modal_overlay: rgba(0, 0, 0, 0.5);
        --modal_background: rgb(240, 240, 240);
        /* Бэйджи */
        --badge_error_back: rgba(255, 59, 48, 0.4);
        --badge_error_text: rgb(194, 6, 24);
        --badge_success_back: rgba(52, 199, 89, 0.4);
        --badge_success_text: rgb(0, 112, 24);
        --badge_cancel_back: rgba(142, 142, 147, 0.4);
        --badge_cancel_text: rgb(97, 97, 101);
        --badge_warning_back: rgba(255, 204, 0, 0.4);
        --badge_warning_text: rgb(146, 81, 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Основные цвета */
        --main_background: rgb(25, 25, 26);
        --main_background_2: rgba(44, 45, 46, 0.66);
        --main_background_3: rgba(44, 45, 46, 1);
        --main_background_4: rgba(44, 45, 46, 0.66);
        --border_main: transparent;
        /**/
        --blue_prime_background: rgb(113, 170, 235);
        --red_prime_background: rgb(218, 52, 80);
        /* Текст */
        --text_color: rgb(255, 255, 255);
        --text_color_disabled: rgba(255, 255, 255, 0.5);
        --text_color_hover: rgb(0, 0, 0);
        /* Кнопки */
        --button_background: rgb(69, 70, 71);
        --button_background_disabled: rgba(69, 70, 71, 0.5);
        /* Поля ввода */
        --input_background: rgb(69, 70, 71);
        --dropdown_background: rgb(69, 70, 71);
        /* Модальные окна */
        --modal_overlay: rgba(255, 255, 255, 0.25);
        --modal_background: rgb(25, 25, 26);
        /* Бэйджи */
        --badge_error_back: rgba(255, 69, 58, 0.4);
        --badge_error_text: rgb(255, 105, 94);
        --badge_success_back: rgba(48, 209, 88, 0.4);
        --badge_success_text: rgb(49, 222, 75);
        --badge_cancel_back: rgba(142, 142, 147, 0.4);
        --badge_cancel_text: rgb(182, 182, 187);
        --badge_warning_back: rgba(255, 214, 10, 0.4);
        --badge_warning_text: rgb(255, 212, 38);
    }
}